# EmployerCalculator.co.uk
FLASK_SECRET_KEY=change-me-to-a-random-string
CANONICAL_HOST=employercalculator.co.uk
CANONICAL_SCHEME=https
FORCE_HTTPS=false
ALLOW_WWW_UNTIL_HTTPS=true
REDIRECT_WWW_TO_APEX=true
ENV=prod
DEBUG_TOKEN=
RUN_APP_URL=https://employercalculator-zkimfomvha-ew.a.run.app
PORT=8080

# Stripe Pro (optional)
ENABLE_PRO=false
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID_PRO_ONEOFF=

# AdSense (optional)
ENABLE_ADS=false
